
/**********************************************************************************************************************************************************
* CONTENT       																																																															            *
*********************************************************************************************************************************************************/
ul.photos-listing-header li {
    list-style-type: none;
    display: inline;
}

ul.photos-listing-header li h4 {
    display: inline;
}

ul.photo-listing li {
    list-style-type: none;
    display: inline;
}
/**********************************************************************************************************************************************************
 * FORM ELEMENTS    																																																															            *
 *********************************************************************************************************************************************************/
#image_title-element, #image_title-label {
    float:left;
}